
 <footer class="bg-gray-100">
  <div class="w-11/12 mx-auto p-5">
      <h5 class="h3">Get the FreshCart app</h5>
      <p class="text-gray-400">We will send you a link, open it on your phone to download app.</p>
      <div class="flex justify-evenly my-4">
          <input type="email" placeholder="Email.." class="w-5/6 rounded ">
          <button class="rounded bg-main px-5 py-2 text-white">Share App Link</button>
      </div>
      <hr>
      <div class="flex justify-between">
          <div class="flex justify-between m-5">
              <p class="me-3">payment partners</p>
          <img src="assets/images/amazon-pay.png" class="w-10 p-1" alt="amazon-pay">
          <img src="assets/images/American-Express-Color.png" class="w-10 p-1" alt="American-Express">
          <img src="assets/images/paypal.png" class="w-10 p-1" alt="paypal">
          <img src="assets/images/mastercard.webp" class="w-10 p-1" alt="mastercard">
          </div>
          <div class="flex justify-between m-5">
             <p>Get delivers with FreshCart</p> 
             <img src="assets/images/get-apple-store.png" class="w-20" alt="apple-store">
             <img src="assets/images/get-google-play.png" class="w-20" alt="google-play">
          </div>
      </div>
      <hr>
  </div>
</footer> 